<script src="../jquery-3.3.1.min.js"></script>
 ​<script src="qunit-2.6.0.js"></script>

 ​<script>

QUnit.test("smoke test", function (assert) {
 ​assert.equal($('.has-error').is(':visible'), true);
​$('.has-error').hide(); 
 ​assert.equal($('.has-error').is(':visible'), false); 
});

 ​</script
